@tailwind base;
@tailwind components;
@tailwind utilities;

.lazy-img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.lazy-img.loaded {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}


